# Distribution / packaging
.Python

build/
dist/
lib/
*.egg-info/
venv/*
*.pyc
*.gitignore

# Serverless directories
.serverless-secret.json


# Other
node_modules/*
boto3
click-6.7.dist-info
dateutil
chardet-3.0.4.dist-info
idna
node_modules
boto3-1.4.4.dist-info
clint
botocore
public-0.0.0.dist-info
futures-3.1.1.dist-info
certifi-2017.4.17.dist-info
setupfiles-0.0.50.dist-info
chardet
botocore-1.5.87.dist-info
jmespath-0.9.3.dist-info
requests_toolbelt
clint-0.5.1.dist-info
urllib3
urllib3-1.22.dist-info
requests
requests_toolbelt-0.8.0.dist-info
post-0.0.0.dist-info
request-0.0.0.dist-info
s3transfer-0.1.10.dist-info
idna-2.5.dist-info
s3transfer
query_string-0.0.0.dist-info
requests-2.18.2.dist-info
certifi
click
docutils-0.13.1.dist-info
setupfiles
get-0.0.0.dist-info
jmespath
concurrent
python_dateutil-2.6.1.dist-info
six-1.10.0.dist-info
docutils
.serverless
args-0.1.0.dist-info
certifi-2017.7.27.1.dist-info
slscrypt